<form #answerForm="ngForm" *ngIf="questions">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="card-title">{{ title }}</div>
        <div class="row" *ngIf="answerneeded > 1">
          <div class="col s12">
            <div class="card red">
              <div class="card-content">
                {{ answerneeded }} correct answer to go to next question
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="question.instruction">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <div class="card-title">Additional instruction:</div>
                {{ question.instruction }}
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="show && options.answer.text">
          <div class="col s12">
            <div class="card orange">
              <div class="card-content">
                <div class="row">
                  <div class="col s12 m10">
                    <i (click)="playVoice(question.answer, 'answer')"class="material-icons">play_circle_filled</i>&nbsp;
                    <span>{{ question.answer }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <i *ngIf="options.question.voice || show" (click)="playVoice(question.origin, 'origin')"class="material-icons">play_circle_filled</i>&nbsp;
                <span *ngIf="options.question.text || !options.question.voice || show">{{ question.origin }}</span>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <div class="input-field" *ngIf="options.answer.text">
                  <input type="text" name="answer" id="answer" [(ngModel)]="answer" />
                  <label for="answer">Answer</label>
                </div>
                <i *ngIf="!options.answer.text" (click)="playVoice(question.answer, 'answer')"class="material-icons">play_circle_filled</i>&nbsp;
                <span *ngIf="show && !options.answer.text">{{ question.answer }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn green" *ngIf="options.answer.text" (click)="checkAnswer()">Validate</button>
            <button class="btn green" *ngIf="!options.answer.text" (click)="selectQuestion()">Next</button>
            <button class="btn orange" *ngIf="!show" (click)="show = true">Show</button>
            <button class="btn orange" (click)="answerneeded = 10" *ngIf="show && options.answer.text">Ask 10 times</button>
            <button class="btn red" *ngIf="show && options.answer.text" (click)="selectQuestion()">Skip</button>
            <button class="btn" *ngIf="!showOptions" (click)="showOptions = !showOptions">Options</button>
            <button class="btn red right" (click)="course = !course" *ngIf="!course">Show course</button>
            <button class="btn blue right" (click)="reverse(); selectQuestion()">Change way</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="showOptions">
      <div class="card-content">
        <div class="card-title">Options</div>
        <h6>Question options</h6>
        <table>
          <tr>
            <td>Text enabled</td>
            <td class="right-align">
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox" name="option-question-text" [(ngModel)]="options.question.text">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Voice enabled</td>
            <td class="right-align">
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox" name="option-question-text" [(ngModel)]="options.question.voice">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </td>
          </tr>
        </table>

        <h6>Answer options</h6>
        <table>
          <tr>
            <td>Text enabled</td>
            <td class="right-align">
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox" name="option-question-text" [(ngModel)]="options.answer.text">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card" *ngIf="course">
      <div class="card-content">
        <div class="card-title">Course</div>
        <table>
          <thead>
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Active</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of questions">
            <td (click)="playVoice(question.origin, 'origin')">{{ question.origin }}</td>
            <td (click)="playVoice(question.answer, 'answer')">{{ question.answer }}</td>
            <td class="switch">
              <label>
                Off
                <input type="checkbox" name="{{ question.origin }}" [(ngModel)]="question.enabled">
                <span class="lever"></span>
                On
              </label>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="row"></div>
        <div class="row">
          <div class="col s12">
            <button class="btn green" (click)="course = !course">Hide</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="card-title">Other rules</div>
        <ul>
        </ul>
      </div>
    </div>
  </div>
</form>
<div *ngIf="!question">Loading...</div>
