<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">Index</div>
      <p>Learn the finnish vocabulary by questioning yourself!</p>
      <p>You will find for each resource learned a dedicated page. For each page, you can disable some question in order to learn them little by little or focus on the more difficult ones</p>
      <ul>
        <li><a routerLink="/days">Days</a></li>
        <li><a routerLink="/months">Months</a></li>
        <li><a routerLink="/doing">What are you doing</a></li>
      </ul>
    </div>
  </div>
</div>
